*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.width-conatiner{
    width: 100%;
}

/* HEADER */
.logo{
    width: 40px;
}
/* FINE HEADER */

/* SIDEBAR */
.sidebar{
    background-image: url(../img/sidebar-bg.png);
    height: 90.3vh;
    width: 100px;
    background-color: #051e34;
}
/* FINE SIDEBAR */

/* TOP BAR */
.top-bar{
    background-color: #1b72e8;
    height: 80px;
}

.font-size span:first-child{
    font-size: 30px;
}

.background, .fa-angles-right{
    font-size: 0.5rem;
}

.font-size1 h3{
    font-size: 13px;
}

.margin-right{
    margin-right: 150px;
}

.middle{
    font-size: 1.3rem;
    padding: 0 10px;
    margin-bottom: 15px;
}
/* FINE TOP BAR */