*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

.width-conatiner{
    width: 100%;
}

/* HEADER */
.logo{
    width: 40px;
}
/* FINE HEADER */

/* SIDEBAR */
.sidebar{
    background-image: url(../img/sidebar-bg.png);
    height: 200vh;
    width: 100px;
    background-color: #051e34;
}
/* FINE SIDEBAR */

/* TOP BAR */
.top-bar{
    background-color: #1b72e8;
    height: 80px;
}

.font-size span:first-child{
    font-size: 30px;
}

.background, .fa-angles-right{
    font-size: 0.5rem;
}

.font-size1 h3{
    font-size: 13px;
}

.margin-right{
    margin-right: 150px;
}

.middle{
    font-size: 1.3rem;
    padding: 0 10px;
    margin-bottom: 15px;
}
/* FINE TOP BAR */

/* MAIN */
.bg-grey{
    background-color: #f7f7f7;
}

.margin-left{
    margin-left: 100px;
}

.margin-nome{
    margin-right: 300px;
}

.font-list{
    font-size: 10px;
}

.font-list1{
    font-size: 13px;
}

.width-avatar{
    width: 18px;
}

.fa-pencil, .fa-trash{
    border: 1px solid grey;
    color: grey;
    padding: 5px;
    border-radius: 3px;
}

.margin-data{
    margin-right: 38px;
}

.stats{
    width: 10px;
}